<!DOCTYPE html>
<html lang="en-us">
<head>
<link rel="stylesheet" href="/static/styles.css" type="text/css" >

<title>RC CAR</title>
</head>
<body>
<div class="grid">
    <div class="pageheader">
        <h1 align = "center">RC car control user interface</h1>
    </div>
    <div class="leftmenu">
        <strong >menu</strong><br><br>
        <ul>
		<li><a href="/about" target ="">About</a></li><br>
		<li><a href="/control" target ="">Control</a></li><br>
		<li><a href="" target ="">Present</a></li><br>
		<li><a href="/setting" target ="">Setting</a></li><br>
		<li><a href="source_code" target ="">Source code</a></li><br>
		<li><a href="" target ="">Issue report</a></li><br>
		<li><a href="/updatelog" target ="">Update log</a></li><br>
		<li><a href="/logoff" target ="">Log Off</a></li><br>
        </ul>
    </div>
    <div>
        <p></p>
    </div>
    <div class="source_code">
            <a href="http://www.github.com">Github</a>
    </div>


</body>
</html>