<!DOCTYPE html>
<html lang="en-us">
<head>
<link rel="stylesheet" href="/static/styles.css" type="text/css" >
<script>
var myVar = setInterval(function(){ myTimer() }, 500);

function myTimer() {
    var d = new Date();
    var t = d.toLocaleTimeString();
    document.getElementById("timer").innerHTML = t;
}
</script>
<script>
function addline(){
    var temp = document.getElementById("routebox").innerHTML;
    document.getElementById("routebox").innerHTML = temp +"&#13;&#10;"+'forward';
}
</script>


<title>RC CAR</title>
</head>
<body>
<div class="grid">
    <div class="pageheader">
        <h1 align = "center">RC car control user interface</h1>
        <p align="right" id="timer"></p>
    </div>
    <div class="leftmenu">
        <strong >menu</strong><br><br>
        <ul>
		<li><a href="/about" target ="">About</a></li><br>
		<li><a href="/control" target ="">Control</a></li><br>
		<li><a href="" target ="">Present</a></li><br>
		<li><a href="/setting" target ="">Setting</a></li><br>
		<li><a href="/source_code" target ="">Source code</a></li><br>
		<li><a href="" target ="">Issue report</a></li><br>
		<li><a href="/updatelog" target ="">Update log</a></li><br>
		<li><a href="/logoff" target ="">Log Off</a></li><br>
        </ul>
    </div>
    <div class="descrip">
    <h2 align = "center">description</h2>
    </div>
    <div classe="route">
    <form name="main" method="post">
    <table align="left">
        <tbody id= "123" style="display:block">
	    <tr>
            <td><button class="button" type="Button" id="start">Start</button></td>
            <td align="center" ><button class="button" type="Button" id="forward" onclick="addline()" >Forward</button></td>
            <td><button class="button" type="Button" id="stop">Stop</button></td>
         </tr>
         <tr>
            <td><button class="button" type="Button" id="left">Left</button></td>
            <td align="center" ><button class="button" type="Button" id="backward">Backward</button></td>
            <td><button class="button" type="Button" id="right">Right</button></td>
         </tr>
        </tbody>
    </table>
    </form>
        <textarea id="routebox" name="message" rows="10" cols="30" style='white-space:pre'>
            Text
        </textarea>
    </div>
</body>
</html>