<!DOCTYPE html>
<html lang="en-us">
<head>
<link rel="stylesheet" href="/static/styles.css" type="text/css" >
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript">
        jQuery(document).ready(function(){
        jQuery("#start").click(function(){
          jQuery.get("/start",function(result){
             jQuery("#text1").val(result);
          });
        });});
</script>
<script type="text/javascript">
        jQuery(document).ready(function(){
        jQuery("#left").click(function(){
          jQuery.get("/left",function(result){
             jQuery("#text1").val(result);
          });
        });});
</script>
<script type="text/javascript">
        jQuery(document).ready(function(){
        jQuery("#right").click(function(){
          jQuery.get("/right",function(result){
             jQuery("#text1").val(result);
          });
        });});
</script>
<script type="text/javascript">
        jQuery(document).ready(function(){
        jQuery("#stop").click(function(){
          jQuery.get("/stop",function(result){
             jQuery("#text1").val(result);
          });
        });});
</script>
<script type="text/javascript">
        jQuery(document).ready(function(){
        jQuery("#forward").click(function(){
          jQuery.get("/forward",function(result){
             jQuery("#text1").val(result);
          });
        });});
</script>
<script type="text/javascript">
        jQuery(document).ready(function(){
        jQuery("#backward").click(function(){
          jQuery.get("/backward",function(result){
             jQuery("#text1").val(result);
          });
        });});

</script>

<script>//auto refresh for infrared
function autorefreshq(){
jQuery(document).ready(function(){
       jQuery.get("/result_sensor_infrared",function(result){
          jQuery("#infrared").val(result);
          });
        });
}

setInterval(function(){autorefreshq()},100);

</script>

<script>//auto refresh for ultrasonic
function autorefresh(){
jQuery(document).ready(function(){
       jQuery.get("/result_sensor_ultrasonic",function(result){
          jQuery("#ultra_sonic").val(result);
          });
        });
}

setInterval(function(){autorefresh()},100);

</script>

<script>//auto refresh for time stamp
var myVar = setInterval(function(){ myTimer() }, 500);

function myTimer() {
    var d = new Date();
    var t = d.toLocaleTimeString();
    document.getElementById("timer").innerHTML = t;
}
</script>

<script type="text/javascript">
function displayunicode(e){
    var unicode=e.keyCode? e.keyCode : e.charCode;
    switch(unicode){
    case 38://button press up
    	alert("forward");
        break;
    case 87://button press w
    	alert("forward");
        break;        
    case 37://button press left
    	alert("left");
        break;
    case 65://button press a
    	alert("left");
        break;        
    case 40://button press down
    	alert("backward");
        break;
    case 83://button press s
    	alert("backward");
        break;       
    case 39://button press right
    	alert("right");
        break;  
    case 68://button press d
    	alert("right");
        break;         
    case 69://button press e
    	alert("stop");
        break;         
    }
	}
</script>	
<script>
function controlmethod_button() {
	document.getElementById("123").style.display = "block";
	document.getElementById("456").style.display = "none";
	document.getElementById("789").style.display = "none";
}
function controlmethod_slider() {
	document.getElementById("123").style.display = "none";
	document.getElementById("456").style.display = "block";
	document.getElementById("789").style.display = "none";
}
function controlmethod_controller() {
	document.getElementById("123").style.display = "none";
	document.getElementById("456").style.display = "none";
	document.getElementById("789").style.display = "block";
}
</script>
<script>
function change_ultrasonicsensor() {
          jQuery.get("/toggle_ultrasonic");
}

function change_infrared(){
          jQuery.get("/toggle_infrared");
}
</script>




<title>RC CAR</title>
</head>
<body>
<div class="grid">
    <div class="pageheader">
        <h1 align = "center">RC car control user interface</h1>
        <p align="right" id="timer"></p>
    </div>
    <div class="leftmenu">
        <strong >menu</strong><br><br>
        <ul>
		<li><a href="/about" target ="">About</a></li><br>
		<li><a href="/control" target ="">Control</a></li><br>
		<li><a href="" target ="">Present</a></li><br>
		<li><a href="/setting" target ="">Setting</a></li><br>
		<li><a href="/source_code" target ="">Source code</a></li><br>
		<li><a href="" target ="">Issue report</a></li><br>
		<li><a href="/updatelog" target ="">Update log</a></li><br>
		<li><a href="/logoff" target ="">Log Off</a></li><br>
        </ul>
    </div>
    <div class="camera">
        <h2 align = "center">camera module</h2>
        <p>camera</p>
		<form name="main" method="post">
        <table align="middle">
	    <tr>
            <td><button type="Button" class="button"> Camera ON/OFF</button></td>
            <td align="center" ><button class="button" type="Button">Recording</button></td>
            <td><select name="cars">
				<option value="1080p">1080p</option>
				<option value="720p">720p</option>
				<option value="480p">480p</option>
				</select></td>
        </tr>
		</table>
		</form>
    </div>
    <div class="descrip">
            <h2 align = "center">description</h2>
            <p>Welcome to the web page, just press any button you want, there should be a description on button.</p>
            <p>Please sure log off when the session is done.</p>
    </div>
	<div class="carstatus">
	<P>Speed:<meter value="0.35"></meter>  Battery status:<meter value="0.8"></meter> Signal strength:<meter value="0.9"></meter> Last Input:<input type = "text" id = "text1" readonly></p>
    <p>Distance(ultra sonic):<input type = "text" id = "ultra_sonic" readonly></p>
	<p>Distance(infrared):<input type = "text" id = "infrared" readonly></p>
	</div>
    <div class="control">
        <h2 align="middle">Control</h2>
		<form>
			<input type="radio" name="control_method" value="button" checked onchange="controlmethod_button()"> button
			<input type="radio" name="control_method" value="keypress" onchange="controlmethod_slider()"> slider
			<input type="radio" name="control_method" value="controller" onchange="controlmethod_controller()"> controller
            <input type="button" value = "ultrasonicsensor" id = "button_ultrasonicsensor" onclick="change_ultrasonicsensor()"> 
			<input type="button" value = "infrared" id = "button_infrared" onclick="change_infrared()">
		</form> 
        <form name="main" method="post">
        <table align="left">
        <tbody id= "123" style="display:block">
	    <tr>
            <td><button class="button" type="Button" id="start">Start</button></td>
            <td align="center" ><button class="button" type="Button" id="forward">Forward</button></td>
            <td><button class="button" type="Button" id="stop">Stop</button></td>
         </tr>
         <tr>
            <td><button class="button" type="Button" id="left">Left</button></td>
            <td align="center" ><button class="button" type="Button" id="backward">Backward</button></td>
            <td><button class="button" type="Button" id="right">Right</button></td>
         </tr>
         <tr>
            <td><button class="button" type="Button">light</button></td>
            <td align="center" ><button class="button" type="Button">?</button></td>
            <td><button class="button" type="Button">?</button></td>
         </tr>
        </tbody>
    </table>
    </form>
    <form style="display:none" id="456">
        <input readonly type="text" size="2" maxlength="1" onkeyup="displayunicode(event); this.select()" />
    </form >
	<form style="display:none" id="789">
	<p>This require external remote control, the only controller support right not is steam controller.</p>
	</form>
    </div>

</div>


</body>
</html>