<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="main" method="post">
    <fieldset>
        <legend>You have already log off</legend>
                <ul>
                    <strong>Press the following button</strong>
                    <li><a href="/">Return to log in page</a></li>
                    <li><a href="/stopserver">kill the server</a></li>
                </ul>
    </fieldset>
    </form>
</body>
</html>